Rubbish
__pycache__/
webview_storage/
ChatDBServer/temp/
ChatDBServer/data/
NexoraNetdisk/data
NexoraDB/chroma_data
NexoraDB/model_cache
ChatDBServer/config.json
ChatDBServer/models.json
ChatDBServer/data/config.json
ChatDBServer/data/models.json
ChatDBServer/api/localsearch
NexoraCode/data/
todolist
NexoraLearning/data
NEXORALEARNING_WORKING.md
ChatDBServer/api/conversation_repair.py
venv