/oh_modules
/.hvigor
/.ohos_sdk
/.appanalyzer
/.codegenie
**/.cxx
**/.test
**/.preview

/node_modules

**/.idea
**/*.iml
**/.vscode

**/build
**/.gradle
**/captures
*.hap
*.hsp
*.hprof

**/local.properties

/.clangd
/.clang-format
/.clang-tidy

*.keystore
*.jks
*.p12

**/.DS_Store
Thumbs.db

*.log
hs_err_pid*
replay_pid*
